<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanchen.system.sysmenu.mapper.SysMenuMapper">
    <select id="listMenuByUserName" parameterType="String"
            resultType="com.xuanchen.system.sysmenu.entity.SysMenu">
        SELECT *
        FROM (SELECT DISTINCT sys_menu.*
              FROM sys_user
                       LEFT JOIN sys_user_role ON sys_user.id = sys_user_role.user_id
                       LEFT JOIN sys_role_menu ON sys_user_role.role_id = sys_role_menu.role_id
                       LEFT JOIN sys_menu ON sys_role_menu.menu_id = sys_menu.id and sys_menu.menu_type in ('M','C')
              WHERE sys_user.user_name = #{userName}
              ORDER BY order_no ASC) sysmenu
        WHERE id IS NOT NULL
    </select>

    <select id="listAuthByUserId" resultType="String">
        SELECT *
        FROM (SELECT DISTINCT sys_menu.perms
              FROM sys_user
                       LEFT JOIN sys_user_role ON sys_user.id = sys_user_role.user_id
                       LEFT JOIN sys_role_menu ON sys_user_role.role_id = sys_role_menu.role_id
                       LEFT JOIN sys_menu ON sys_role_menu.menu_id = sys_menu.id
              WHERE sys_user.id = #{userId}) sysmenu
        WHERE perms IS NOT NULL
          AND perms != ''
    </select>

    <select id="validate" parameterType="com.xuanchen.system.sysmenu.entity.SysMenu" resultType="com.xuanchen.system.sysmenu.entity.SysMenu">
        SELECT
        *
        FROM
        (SELECT * FROM sys_menu WHERE id NOT IN (#{sysMenu.id})) sys_menu
        WHERE 1=1
        <if test="sysMenu.name != '' and sysMenu.name != null">
            AND name = #{sysMenu.name}
        </if>
        <if test="sysMenu.path != '' and sysMenu.path != null">
            AND path = #{sysMenu.path}
        </if>
    </select>
</mapper>