spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/xuanchen-monolithic?serverTimezone=GMT%2B8&characterEncoding=utf-8&allowPublicKeyRetrieval=true&useSSL=false&tinyInt1isBit=true
    username: root
    password: Admin123
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 0
mybatis-plus:
  mapper-locations: classpath*:com/xuanchen/**/xml/*Mapper.xml
  global-config:
    banner: false
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl